<div class="categoriesTpl container-fluid">
    <div class="row top-row">
        <h3> {{ title }}</h3>
    </div>
    <div class="row control-row">
        <div class="col-lg-10 col-md-10 col-sm-10 hidden-xs"></div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 buttons">
            <div class="btn-group pull-right">
                <div class="btn-group dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-btn" data-toggle="dropdown">
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        {% for lang in langs %}
                            <li id="{{ lang.langCode }}"
                                onclick="switchLang(this)">
                                <a href="#language"
                                   id="{{ lang.langCode }}">
                                    {{ lang.langName }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row translation-block" id="loadTbl">

    </div>

    <script>

        $('.modal').draggable({
            handle: ".modal-header"
        });

        window.lang = 'en';

        $('.dropdown-menu').find('#en').addClass("default-lang");



        function switchLang(btn) {

//            var langCode = btn.id;

            window.lang = btn.id;

            {#$.ajax({#}
                {#url: '{{ path('get_transl_by_page') }}',#}
                {#method: 'POST',#}
                {#data: {#}
                    {#'pageId': pageId,#}
                    {#'langCode': langCode#}
                {#},#}
                {#success: function (data) {#}
                    {#var route = "{{ path('show_translations', {'id': "ID"}) }}";#}
                    {#var routeId = route.replace('ID', pageId);#}
                    {#$("#loadTbl").load(routeId, {'data': data});#}
                {#}#}
            {#});#}


        }

    </script>

    <script src="{{ asset('js/dropdowns.js') }}"></script>

</div>