<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Custom CSS -->
    <link href="{{ asset('css/admin/cpanel.css') }}" rel="stylesheet">

    <link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic-ext,cyrillic,latin-ext,greek'
          rel='stylesheet' type='text/css'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-controller="AppCtrl">

<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <h2 onclick="location.replace('{{ path('admin_control_panel') }}')"> Hello {{ name }}</h2>
        <ul class="nav nav-stacked" id="accordion1">
            {#<li>#}
            {#<a href="{{ asset('/admin/cpanel/dashboard') }}">#}
            {#<span class="glyphicon glyphicon-dashboard"></span>&nbsp;Dashboard#}
            {#</a>#}
            {#</li>#}
            <li>
                <a data-toggle="collapse" data-parent="#accordion1" href="#firstLink">
                    <span class="glyphicon glyphicon-cog"></span>&nbsp;System
                </a>

                <ul id="firstLink" class="collapse">
                    <li id="language" onclick="loadTemplate(this.id)"><a href="#"><span
                                    class="glyphicon glyphicon-menu-right"></span>&nbsp;Languages</a></li>
                    <li id="currency" onclick="loadTemplate(this.id)"><a href="#"><span
                                    class="glyphicon glyphicon-menu-right"></span>&nbsp;Currency</a></li>
                    <li id="locale" onclick="loadTemplate(this.id)"><a href="#"><span
                                    class="glyphicon glyphicon-menu-right"></span>&nbsp;Locale</a></li>
                    {#<li id="location" onclick="loadTemplate(this.id)">><a href="#"><span class="glyphicon glyphicon-menu-right"></span>&nbsp;Location</a></li>#}
                    {#<li id="countries" onclick="loadTemplate(this.id)">><a href="#"><span class="glyphicon glyphicon-menu-right"></span>&nbsp;Countries</a></li>#}
                    {#<li id="order_status" onclick="loadTemplate(this.id)">><a href="#"><span class="glyphicon glyphicon-menu-right"></span>&nbsp;Order status</a></li>#}
                    {#<li id="stock_status" onclick="loadTemplate(this.id)">><a href="#"><span class="glyphicon glyphicon-menu-right"></span>&nbsp;Stock status</a></li>#}
                </ul>

            </li>
            <li>
                <a href="" ng-click="test()"><span
                            class="glyphicon glyphicon-menu-hamburger"></span>&nbsp;Categories</a>
            </li>
            <li>
                <a href="#"><span class="glyphicon glyphicon-apple"></span>&nbsp;Products</a>
            </li>
            <li>
                <a href="#"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;Sales</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-------------------- Header -------------------->
    <div class="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{{ path('store_homepage') }}" target="_blank"><span
                                        class="glyphicon glyphicon-shopping-cart"></span>&nbsp;Your store </a>
                        </li>
                        <li>
                            <a href="cpanel/logout"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            {% block body %}
                <div class="row" id="load">
                    <noscript>
                        <div class="alert alert-warning">
                            <strong>Notice!&nbsp;</strong>{{ js_disabled }}
                        </div>
                    </noscript>
                </div>
            {% endblock %}
            {#<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>#}
        </div>
    </div>
</div>
<!-- /#wrapper -->

<script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
<script src="{{ asset('js/jq_router.js') }}"></script>
<script src="{{ asset('js/bootstrap-formhelpers-currencies.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<!-- Menu Toggle Script -->
<script>


    function loadTemplate(id) {

        switch (id) {
            case 'currency':
                    window.location.hash = id;
                $('#load').load("{{ path('currency') }}", function (response, status, xhr) {
                    if (status == 'error') {
                        $('#load').text('During loading ' + id + ' template execution error occurred. Error code : ' + xhr.status + ' (' + xhr.statusText + ') ');
                    }
                });
                break;
            case 'language':
                break;
            case 'locale':
                break;

        }

        $('#load').load("{{ asset('tpl/') }}" + id + "{{ ('.html.twig') }}", function (response, status, xhr) {
        if (status == 'error') {
        $('#load').text('During loading this page execution error occurred. Error code : ' + xhr.status + ' (' + xhr.statusText + ') ');
        }
        });

        {#$('#load').load("{{ include('tpl/') }}" + id + "{{ ('.html.twig') }}", function (response, status, xhr) {#}
        {#if (status == 'error') {#}
        {#$('#load').text('During loading ' + id + ' template execution error occurred. Error code : ' + xhr.status + ' (' + xhr.statusText + ') ');#}
        {#}#}
        {#});#}
    }

    if (window.location.hash == '#currency') {
        $('#load').load("{{ path('currency') }}", function (response, status, xhr) {
            if (status == 'error') {
                $('#load').text('During loading ' + id + ' template execution error occurred. Error code : ' + xhr.status + ' (' + xhr.statusText + ') ');
            }
        });
    }

    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

</body>

</html>

{#Hello {{ name }}#}