<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <!-- Custom CSS -->
    {#<link href="{{ asset('css/admin/cpanel.css') }}" rel="stylesheet">#}
    <link href="{{ asset('css/admin/dashboard.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic-ext,cyrillic,latin-ext,greek'
          rel='stylesheet' type='text/css'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-controller="AppCtrl">

<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <h3 class="dashboard-logo" onclick="location.replace('{{ path('admin_control_panel') }}')">
            Hello, {{ name }}</h3>
        <ul class="nav nav-stacked" id="nontoggle">
            <li>
                <a data-toggle="collapse" data-parent="#nontoggle" href="#system">
                    <span class="glyphicon glyphicon-cog"></span>&nbsp;System
                </a>
                <ul id="system" class="collapse">
                    <li id="currency" onclick="loadTemplate(this)">
                        <a href="#">
                            <span class="glyphicon glyphicon-menu-right"></span>&nbsp;Currency
                        </a>
                    </li>
                    <li id="lang" onclick="loadTemplate(this)">
                        <a href="#">
                            <span class="glyphicon glyphicon-menu-right"></span>&nbsp;Translations
                        </a>
                    </li>
                    <li id="locale" onclick="loadTemplate(this)">
                        <a href="#">
                            <span class="glyphicon glyphicon-menu-right"></span>&nbsp;Locale
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a id="categories" onclick="loadTemplate(this)"><span
                            class="glyphicon glyphicon-menu-hamburger"></span>&nbsp;Categories</a>
            </li>
            <li>
                <a href="#"><span class="glyphicon glyphicon-camera"></span>&nbsp;Products</a>
            </li>
            <li>
                <a href="#"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;Sales</a>
            </li>
            {#<li>#}
            {#<a data-toggle="collapse" data-parent="#accordion1" href="#firstLink">#}
            {#<span class="glyphicon glyphicon-cog"></span>&nbsp;System#}
            {#</a>#}

            {#<ul id="firstLink" class="collapse">#}
            {#<li id="lang" onclick="loadTemplate(this)"><a href="#"><span#}
            {#class="glyphicon glyphicon-menu-right"></span>&nbsp;Translations</a></li>#}
            {#<li id="currency" onclick="loadTemplate(this)"><a href="#"><span#}
            {#class="glyphicon glyphicon-menu-right"></span>&nbsp;Currency</a></li>#}
            {#<li id="locale" onclick="loadTemplate(this)"><a href="#"><span#}
            {#class="glyphicon glyphicon-menu-right"></span>&nbsp;Locale</a></li>#}
            {#</ul>#}

            {#</li>#}
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-------------------- Header -------------------->
    <div class="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-left">
                        <li id="toggleBtn">
                            <a href="#menu-toggle" id="menu-toggle"><span class="glyphicon glyphicon-menu-left"></span>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{{ path('store_homepage') }}" target="_blank"><span
                                        class="glyphicon glyphicon-shopping-cart"></span>&nbsp;Your store </a>
                        </li>
                        <li>
                            <a href="cpanel/logout"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

        </div>
    </div>
</div>
<!-- /#wrapper -->

<script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
<script src="http://code.jquery.com/ui/1.12.0-rc.2/jquery-ui.min.js"
        integrity="sha256-55Jz3pBCF8z9jBO1qQ7cIf0L+neuPTD1u7Ytzrp2dqo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.2/jquery.ui.touch-punch.min.js"></script>
<script src="{{ asset('js/jq_router.js') }}"></script>
<script src="{{ asset('js/bootstrap-formhelpers-currencies.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<!-- Menu Toggle Script -->
<script>

    function loadTemplate(tpl) {
        console.log(tpl.id);
        id = tpl.id;
        window.location.hash = id;
        $('#load').load("{{ path('currency') }}", function (response, status, xhr) {
            if (status == 'error') {
                $('#load').text('During loading template execution error occurred. Error code : ' + xhr.status + ' (' + xhr.statusText + ') ');
            }
        });
    }

    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        $('#toggleBtn a span').toggleClass(function () {
            return 'glyphicon-menu-right';
        });
    });

    //    $('#nontoggle').click(function(e) {
    //        e.preventDefault();
    //        $("#nontoggle li").toggleClass('active');
    //    });
</script>

</body>

</html>
