<div class="container-fluid" id="categoriesTpl">
    <div class="row top-row">
        <h3> {{ title }}</h3>
    </div>
    <div class="row control-row">
        <div class="col-lg-10 col-md-10 col-sm-10 hidden-xs"></div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 buttons">
        </div>
    </div>

    <div class="row translation-block" id="loadTbl">

        <table class="table table-bordered table-striped category-tbl">
            <thead>
            <tr>
                <th>Category</th>
                <th>Edit</th>
                <th>Delete</th>
                <th>Subcategories</th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.cKeyword }}</td>
                    <td>
                        <button id="{{ category.cId }}" type="button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                    </td>
                    <td>
                        <button id="{{ category.cId }}" type="button" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>

        $('.modal').draggable({
            handle: ".modal-header"
        });

        window.lang = 'en';

        $('.dropdown-menu').find('#en').addClass("default-lang");

        $(document).ready(function () {
            //get categories by default lang
        });
        function switchLang(btn) {

//            var langCode = btn.id;

            window.lang = btn.id;

            {#$.ajax({#}
            {#url: '{{ path('get_transl_by_page') }}',#}
            {#method: 'POST',#}
            {#data: {#}
            {#'pageId': pageId,#}
            {#'langCode': langCode#}
            {#},#}
            {#success: function (data) {#}
            {#var route = "{{ path('show_translations', {'id': "ID"}) }}";#}
            {#var routeId = route.replace('ID', pageId);#}
            {#$("#loadTbl").load(routeId, {'data': data});#}
            {#}#}
            {#});#}


        }

    </script>

    <script src="{{ asset('js/dropdowns.js') }}"></script>

</div>