<div class="currencyTpl">
    <div class="top-block">
        <div class="pull-left">
            <h3>{{ title }}</h3>
        </div>
        <div class="pull-right">
            <button type="button" class="btn btn-success" data-tooltip="tooltip" title="Add currency"
                    data-placement="left" data-toggle="modal" data-target="#addCurrency">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <div id="addCurrency" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">
                                Add new currency
                            </h4>
                        </div>
                        <div class="modal-body">
                            <form role="form">
                                <div class="form-group">
                                    <label for="curName">Name</label>
                                    <input type="text" class="form-control" id="curName" placeholder="Set currency name">
                                </div>
                                <div class="form-group">
                                    <label for="curCode">Code</label>
                                    <input type="text" class="form-control" id="curCode" placeholder="Set currency ISO code">
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" id="isDefault">Default currency?</label>
                                </div>
                                <div class="form-group">
                                    <label for="curRate">Currency rate</label>
                                    <input type="text" class="form-control" id="disabledInput" placeholder="Set currency rate">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success">Add</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Discard</button>
                                </div>
                            </form>
                            <script>

                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                $(document).ready(function () {
                    $('[data-tooltip="tooltip"]').tooltip();
                });

                $('#isDefault').click(function(){

                    var isChecked = $('#isDefault').prop('checked');
                    if (isChecked == true) {
                        document.getElementById("curRate").className = "disabled";
                    }
                });
            </script>
        </div>
    </div>

    <table class="table currency-tbl">
        <thead>
        <tr>
            <td>name</td>
            <td>code</td>
            <td>rate</td>
            <td>default</td>
            <td>actions</td>
        </tr>
        </thead>
        <tbody>
        {% for currency in currencies %}
            <tr>
                <td>{{ currency.name }}</td>

                <td>{{ currency.code }}</td>

                <td> {{ currency.rate }}</td>

                <td>
                    {% if currency.isDefault == 1 %}
                        <p>Yes</p>
                    {% else %}
                        <p>No</p>
                    {% endif %}
                </td>
                <td colspan="2">
                    <button type="button" class="btn btn-primary" data-id="{{ currency.id }}" data-toggle="modal"
                            data-target="#editCurrency">
                        <span class="glyphicon glyphicon-edit"></span>&nbsp;Edit
                    </button>

                    <div id="editCurrency" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Edit currency</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Some text in the modal.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    {% if currencies | length < 2 %}

                        <button type="button" class="btn btn-danger disabled">
                            <span class="glyphicon glyphicon-remove"></span>&nbsp;Delete
                        </button>

                    {% else %}
                        <button type="button" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>&nbsp;Delete
                        </button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
