<div class="langTpl container-fluid">
    <div class="row top-block">
        <div class="pull-left">
            <h3>{{ title }}</h3>
        </div>
    </div>
    <div class="row lang-list" style="display: inline-block; width: 100%">
        {% for page in pages %}
            <div class="col-lg-1">
                <button id="{{ page.pageId }}" type="button" class="btn btn-primary"
                        onclick="getByPage(this)">{{ page.pageName }}</button>
            </div>
        {% endfor %}
    </div>

    <div class="row translation-block" id="loadTbl">

    </div>
    <script>
        $('.dropdown-menu').find('#1').addClass("default-lang");

        function getByPage(btn) {

            var pageId = btn.id;
            var langCode = 'en';

            $.ajax({
                url: '{{ path('get_transl_by_page') }}',
                method: 'POST',
                data: {
                    'pageId': pageId,
                    'langCode': langCode
                },
                success: function (data) {
                    var route = "{{ path('show_translations', {'id': "ID"}) }}";
                    var routeId = route.replace('ID', pageId);
                    $("#loadTbl").load(routeId, {'data': data});
                }
            });

        }
    </script>

    <script src="{{ asset('js/dropdowns.js') }}"></script>

</div>