<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login to Control Panel</title>
    <link href="{{ asset('css/admin/style.css') }}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic-ext,cyrillic,latin-ext,greek'
          rel='stylesheet' type='text/css'>


</head>
<body>
<div class="wrapper">

    <div class="container loginForm">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10 text-center">
                <h4>Smartstore</h4>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10 text-center">
                <h5>Sign in to continue work</h5>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10 text-center">

            </div>
            <div class="col-lg-1"></div>
        </div>

        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10 text-center">
                {% if error %}

                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
                <form role="form" action="{{ path('admin_login') }}" method="post">
                    <div class="form-group">
                        <input class="form-control" type="text" id="username" name="_username"
                               value="{{ last_username }}" placeholder="Username"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" id="password" name="_password"
                               placeholder="Password"/>
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="_target_path" value="/admin/cpanel"/>
                        <button type="submit" class="btn btn-success col-lg-12"><span class="glyphicon glyphicon-lock"></span>
                            Login
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10 text-center">

            </div>
            <div class="col-lg-1"></div>
        </div>

    </div>

</div>
<script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
<script src="{{ asset('js/bootstrap-formhelpers-currencies.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
</body>
</html>


{#{% if error %}#}
    {#<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
{#{% endif %}#}

{#<form action="{{ path('admin_login') }}" method="post">#}
    {#<label for="username">Username:</label>#}
    {#<input type="text" id="username" name="_username" value="{{ last_username }}" />#}

    {#<label for="password">Password:</label>#}
    {#<input type="password" id="password" name="_password" />#}

    {##}
        {#If you want to control the URL the user#}
        {#is redirected to on success (more details below)#}
        {#<input type="hidden" name="_target_path" value="/account" />#}
    {##}

    {#<button type="submit">login</button>#}
    {#<input type="hidden" name="_target_path" value="/admin/cpanel" />#}
{#</form>#}