Hello {{ name }}

<table>
    <tr>
        <td>name</td>
        <td>code</td>
        <td>default</td>
        <td>rate</td>
    </tr>
    {% for currency in currencies %}
        <tr>
            <td>{{ currency.name }}</td>

            <td>{{ currency.code }}</td>

            <td>{{ currency.isDefault }}</td>

            <td> {{ currency.rate }}</td>
        </tr>
    {% endfor %}
</table>