<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smartstore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.css') }}">
</head>
<body>

<div class="wrapper">

    <div class="header container-fluid">
        <div class="header-top row">

            <div class="col-lg-1 stores">
                <button class="btn btn-primary dropdown-toggle dropdown-btn" type="button"
                        id="loginBtn" location="stores" onclick="btnNav('stores')">
                    {{ stores }}
                </button>
            </div>

            <div class="col-lg-1 contact">
                <button class="btn btn-primary dropdown-toggle dropdown-btn" type="button"
                        id="loginBtn" location="stores" onclick="btnNav('contact')">
                    {{ contact_us }}
                </button>
            </div>

            <div class="col-lg-1 wishlist">
                <button class="btn btn-primary dropdown-toggle dropdown-btn" type="button"
                        id="loginBtn" location="wishlist" onclick="btnNav('wishlist')">
                    {{ wishlist }}
                </button>
            </div>

            <div class="col-lg-6"></div>

            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 lang">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle dropdown-btn" type="button"
                            id="lang"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li id="en" onclick="changeLang(this)"><a href="#" data-value="en">English</a></li>
                        <li id="pl" onclick="changeLang(this)"><a href="#" data-value="pl">Polski</a></li>
                        <li id="ru" onclick="changeLang(this)"><a href="#" data-value="ru">Русский</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 currency">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle dropdown-btn" type="button" id="currency"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="currency">
                        <li class="default_cur"><a href="#" data-value="eur">EUR</a></li>
                        <li><a href="#" data-value="usd">USD</a></li>
                        <li><a href="#" data-value="gbp">GBP</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-2  hidden-xs login">
                <button class="btn btn-primary dropdown-toggle dropdown-btn" type="button"
                        id="loginBtn" location="login" onclick="btnNav('login')">
                    {{ login }}
                </button>
            </div>

        </div>
    </div>

    <div class="content">

    </div>

    <div class="footer">

    </div>

</div>
<script src="https://code.jquery.com/jquery-2.2.2.js"></script>
<script src="{{ asset('js/bootstrap.js') }}"></script>
<script>

    function changeLang(element) {
        var selectedLang = element.id;
        $.ajax({
            type: 'POST',
            url: '{{path('store_changeLang')}}',
            data: selectedLang,
            success: function(data) {
                console.log(data);
            }
        });
    }

    var curLang = '{{ app.session.get('selectedLang') }}';

    $('.dropdown-menu').find('#' + curLang).addClass("default-lang");
    function btnNav(navigateTo) {
        $(location).attr('href', '/smartstore/web/app_dev.php' + '/' + navigateTo);
    }

    $(document).ready(function () {
        $('.default_cur').parents(".dropdown").find('.btn').html($('.default_cur').text() + ' <span class="caret"></span>');
        $('.default-lang').parents(".dropdown").find('.btn').html($('.default-lang').text() + ' <span class="caret"></span>');
    });

    $(".dropdown-menu li a").click(function () {
        $(this).parents(".dropdown").find('.dropdown-btn').html($(this).text() + ' <span class="caret"></span>');
        $(this).parents(".dropdown").find('.dropdown-btn').val($(this).data('value'));
    });
</script>
</body>
</html>