<!DOCTYPE html>
<html>
<head>
    <title>Пример №1 к статье "Как с помощью CSS прижать footer к низу окна браузера"</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic-ext,cyrillic,latin-ext,greek'
          rel='stylesheet' type='text/css'>
</head>

<body>

<div class="wrapper">
    <div class="header container">
        <div class="row top-header-row">
            <!--CURRENCY-->
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 currency">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle dropdown-btn" type="button" id="currency"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="currency">
                        <li class="default_cur"><a href="#" data-value="eur">EUR</a></li>
                        <li><a href="#" data-value="usd">USD</a></li>
                        <li><a href="#" data-value="gbp">GBP</a></li>
                    </ul>
                </div>
            </div>
            <!--LANGUAGE-->
            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 language">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle dropdown-btn" type="button"
                            id="lang"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li id="en"><a href="{{ asset('app_dev.php/en') }}" data-value="en">English</a>
                        </li>
                        <li id="pl"><a href="{{ asset('app_dev.php/pl') }}" data-value="pl">Polski</a></li>
                        <li id="ru"><a href="{{ asset('app_dev.php/ru') }}" data-value="ru">Русский</a></li>
                    </ul>
                </div>
            </div>
            <!--STORES-->
            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 stores">
                <div>
                    <button class="btn btn-primary dropdown-toggle dropdown-btn non-dropdown" type="button"
                            id="compareBtn">
                        {{ stores }}
                    </button>
                </div>
            </div>
            <!--COMPARE-->
            <div class="col-lg-1 col-md-1 col-sm-2 hidden-xs compare">
                <div>
                    <button class="btn btn-primary dropdown-toggle dropdown-btn non-dropdown" type="button"
                            id="compareBtn">
                        {{ compare }}
                    </button>
                </div>
            </div>
            <!--VISIBLE ONLY ON MOBILES-->
            <div class="col-xs-4 hidden-sm hidden-lg hidden-md">kek</div>
            <!--SPACE-->
            <div class="col-lg-5 col-md-5 hidden-xs hidden-sm"></div>
            <!--BLOG-->
            <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs blog">
                <button class="btn btn-primary dropdown-toggle dropdown-btn non-dropdown" type="button"
                        id="blogBtn">
                    {{ blog }}
                </button>
            </div>
            <!--WISHLIST-->
            <div class="col-lg-1 col-md-1 col-sm-2 hidden-xs wishlist">
                <button class="btn btn-primary non-dropdown" type="button"
                        id="wishlistBtn" onclick="btnNav('/wishlist')">
                    {{ wishlist }}
                </button>
            </div>
            <!--LOGIN-->
            <div class="col-lg-1 col-md-1 col-sm-2 hidden-xs login">
                <button class="btn btn-primary non-dropdown" type="button"
                        id="loginBtn" location="login" onclick="btnNav('/login')">
                    {{ login }}
                </button>
            </div>
        </div>
        <div class="row middle-header-row">
            <!--LOGO-->
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 logo">
                <img src="{{ asset('img/logo_white_plus.png') }}">
            </div>
            <div class="col-lg-1 hidden-xs hidden-sm hidden-md"></div>
            <div class="col-lg-6 col-md-2 hidden-sm hidden-xs search">
                <div class="input-group">
                    <input type="text" class="form-control"
                           aria-label="Text input with segmented button dropdown">

                    <div class="input-group-btn dropdown">
                        <button type="button" class="btn btn-primary dropdown-toggle category-btn dropdown-btn"
                                data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            {{ all_categories }}&nbsp;<span class="caret"></span> <span
                                    class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                        <button type="button" class="btn btn-primary search-btn">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 hidden-xs hidden-sm hidden-md"></div>

            <div class="col-lg-1 col-md-2 hidden-sm hidden-xs contact">
                <button type="button" class="btn btn-primary contact-button">
                    <span class="glyphicon glyphicon-earphone"></span>
                    {{ contact_us }}
                </button>
            </div>
            <div class="col-lg-1 col-md-2 hidden-sm hidden-xs cart">
                <button type="button" class="btn btn-primary shopping-cart">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                    {{ cart }}
                </button>
            </div>
            <!--VISIBLE ONLY ON TABLETS AND MOBILES-->
            <div class="hidden-lg hidden-md col-sm-7 col-xs-6"></div>
            <div class="hidden-lg hidden-md col-sm-1 sm-xs-col col-xs-1">
                <button type="button" class="btn btn-primary icon-button" data-toggle="collapse"
                        data-target="#collapseMenu" id="menu-toggle">
                    <span class="glyphicon glyphicon-align-justify"></span>
                </button>
            </div>
            <div class="hidden-lg hidden-md col-sm-1 sm-xs-col col-xs-1">
                <button type="button" class="btn btn-primary icon-button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
            <div class="hidden-lg hidden-md col-sm-1 sm-xs-col col-xs-1">
                <button type="button" class="btn btn-primary icon-button">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                </button>
            </div>
        </div>
        <div class="row bottom-header-row hidden-sm hidden-xs">
            <nav class="navbar navbar-default transparent">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="collapse" id="collapseMenu">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="row">
                content
            </div>
        </div>
    </div>
    <!-- .content -->

    <div class="footer">
        <div class="container">
            <div class="row">
                footer
            </div>
        </div>
    </div>

</div>
<!-- .wrapper -->

</div>
<script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
<script src="{{ asset('js/bootstrap-formhelpers-currencies.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script>
    var curLang = '{{ app.request.get('lang') }}';
    var middleBlockHeight = $('.logo').css('height');
    $('.search').css('height', middleBlockHeight);
    $('.contact').css('height', middleBlockHeight);
    $('.cart').css('height', middleBlockHeight);


    console.log($('.logo').css('height'));

    $('.dropdown-menu').find('#' + curLang).addClass("default-lang");
    function btnNav(navigateTo) {
        $(location).attr('href', '/smartstore/web/app_dev.php' + navigateTo);
    }

    $(document).ready(function () {
        $('.default_cur').parents(".dropdown").find('.btn').html($('.default_cur').text() + ' <span class="caret"></span>');
        $('.default-lang').parents(".dropdown").find('.btn').html($('.default-lang').text() + ' <span class="caret"></span>');
    });

    $(".dropdown-menu li a").click(function () {
        $(this).parents(".dropdown").find('.dropdown-btn').html($(this).text() + ' <span class="caret"></span>');
        $(this).parents(".dropdown").find('.dropdown-btn').val($(this).data('value'));
    });
</script>

</body>
</html>