<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/old/style.css') }}" rel="stylesheet">
</head>
<body>
<!-- Fixed navbar -->
<nav class="navbar navbar-default">
    <div class="container top">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 currency-block">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle dropdown-btn" type="button" id="currency"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="currency">
                        <li class="default_cur"><a href="#" data-value="eur">EUR</a></li>
                        <li><a href="#" data-value="usd">USD</a></li>
                        <li><a href="#" data-value="gbp">GBP</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 lang-block">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle dropdown-btn" type="button"
                            id="lang"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li id="en"><a href="{{ asset('app_dev.php/en') }}" data-value="en">English</a>
                        </li>
                        <li id="pl"><a href="{{ asset('app_dev.php/pl') }}" data-value="pl">Polski</a></li>
                        <li id="ru"><a href="{{ asset('app_dev.php/ru') }}" data-value="ru">Русский</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 compare-block">
                <div>
                    <button class="btn btn-primary dropdown-toggle dropdown-btn" type="button"
                            id="compareBtn">
                        {{ compare }}
                    </button>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 hidden-xs"></div>
            <div class="col-lg-1 col-md-1 col-sm-2  hidden-xs login-block">
                <button class="btn btn-primary dropdown-toggle dropdown-btn" type="button"
                        id="blogBtn">
                    {{ blog }}
                </button>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-2  hidden-xs wishlist-block">
                <button class="btn btn-primary dropdown-toggle dropdown-btn" type="button"
                        id="wishlistBtn" onclick="btnNav('/wishlist')">
                    {{ wishlist }}
                </button>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-2  hidden-xs blog-block">
                <button class="btn btn-primary dropdown-toggle dropdown-btn" type="button"
                        id="loginBtn" location="login" onclick="btnNav('/login')">
                    {{ login }}
                </button>
            </div>

            <div class="hidden-lg hidden-md hidden-sm xs-4" style="border: 1px solid black"></div>
            <div class="hidden-lg hidden-md hidden-sm xs-2" style="border: 1px solid black">kek</div>
        </div>
    </div>
    <div class="container middle">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 logo-container">
                <img src="{{ asset('img/logo_white_plus.png') }}">
            </div>
            <div class="col-lg-6 col-md-6 hidden-sm hidden-xs search-block">
                <div class="input-group">
                    <input type="text" class="form-control"
                           aria-label="Text input with segmented button dropdown">

                    <div class="input-group-btn dropdown">
                        <button type="button" class="btn btn-primary dropdown-toggle category-btn dropdown-btn"
                                data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            {{ all_categories }}&nbsp;<span class="caret"></span> <span
                                    class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                        <button type="button" class="btn btn-primary search-btn">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs contact-block">
                <button type="button" class="btn btn-primary contact-button">
                    <span class="glyphicon glyphicon-earphone"></span>
                    {{ contact_us }}
                </button>
            </div>
            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs cart-block">
                <button type="button" class="btn btn-primary shopping-cart">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                    {{ cart }} (0)
                </button>
            </div>
            <!--VISIBLE ONLY ON TABLETS AND MOBILES-->
            <div class="hidden-lg hidden-md col-sm-7 col-xs-6"></div>
            <div class="hidden-lg hidden-md col-sm-1 sm-xs-col col-xs-1">
                <button type="button" class="btn btn-primary icon-button" data-toggle="collapse"
                        data-target="#collapseMenu" id="menu-toggle">
                    <span class="glyphicon glyphicon-align-justify"></span>
                </button>
            </div>
            <div class="hidden-lg hidden-md col-sm-1 sm-xs-col col-xs-1">
                <button type="button" class="btn btn-primary icon-button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
            <div class="hidden-lg hidden-md col-sm-1 sm-xs-col col-xs-1">
                <button type="button" class="btn btn-primary icon-button">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="collapse" id="collapseMenu">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container hidden-sm">
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<!-- Begin page content -->
<div class="container">
    {{ app.request.get('lang') }}
</div>
<footer class="footer">
    <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
    </div>
</footer>
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
<script src="{{ asset('js/bootstrap-formhelpers-currencies.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script>
    var curLang = '{{ app.request.get('lang') }}';
    console.log(curLang);

    $('.dropdown-menu').find('#'+curLang).addClass("default-lang");
    function btnNav(navigateTo) {
        $(location).attr('href', '/smartstore/web/app_dev.php' + '/' + curLang + navigateTo);
    }

    $(document).ready(function () {
        $('.default_cur').parents(".dropdown").find('.btn').html($('.default_cur').text() + ' <span class="caret"></span>');
        $('.default-lang').parents(".dropdown").find('.btn').html($('.default-lang').text() + ' <span class="caret"></span>');
    });

    $(".dropdown-menu li a").click(function () {
        $(this).parents(".dropdown").find('.dropdown-btn').html($(this).text() + ' <span class="caret"></span>');
        $(this).parents(".dropdown").find('.dropdown-btn').val($(this).data('value'));
    });
</script>
</body>
</html>