<div class="currencyTpl">
    <div class="top-block">
        <div class="pull-left">
            <h3>{{ title }}</h3>
        </div>
        <div class="pull-right">
            <button type="button" class="btn btn-success" data-tooltip="tooltip" title="Add currency"
                    data-placement="left" data-toggle="modal" data-target="#addCurrency">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <div id="addCurrency" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!--------- ADD CURRENCY MODAL ------------->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">
                                Add new currency
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-danger fade in" id="addCurrencyError">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>Error!</strong> Currency is already exist
                            </div>
                            <form role="form">
                                <div class="form-group">
                                    <label for="curName">Name</label>
                                    <input type="text" class="form-control" id="curName"
                                           placeholder="Set currency name">
                                </div>
                                <div class="form-group">
                                    <label for="curCode">Code</label>
                                    <input type="text" class="form-control" id="curCode"
                                           placeholder="Set currency ISO code">
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" id="isDefault">Default currency?</label>
                                </div>
                                <div class="form-group">
                                    <label for="curRate">Currency rate</label>
                                    <input type="text" class="form-control" id="curRate"
                                           placeholder="Set currency rate">
                                </div>

                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" onclick="addCurrency(this.form)">Add</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Discard</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="table currency-tbl">
        <thead>
        <tr>
            <td>name</td>
            <td>code</td>
            <td>rate</td>
            <td>default</td>
            <td>actions</td>
        </tr>
        </thead>
        <tbody>
        {% for currency in currencies %}
            <tr>
                <td>{{ currency.name }}</td>

                <td>{{ currency.code }}</td>

                <td> {{ currency.rate }}</td>

                <td>
                    {% if currency.isDefault == 1 %}
                        <p>Yes</p>
                    {% else %}
                        <p>No</p>
                    {% endif %}
                </td>
                <td colspan="2">
                    <button type="button" class="btn btn-primary"
                            id="{{ currency.id }}"
                            data-toggle="modal"
                            data-target="#editCurrency"
                            data-curname="{{ currency.name }}"
                            data-curcode="{{ currency.code }}"
                            data-isdefault="{{ currency.isDefault }}"
                            data-currate="{{ currency.rate }}"
                            onclick="editModalBtn(this)">
                        <span class="glyphicon glyphicon-edit"></span>&nbsp;Edit
                    </button>
                    <div id="editCurrency" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-------------EDIT CURRENCY MODAL------------->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Edit currency</h4>
                                </div>
                                <div class="modal-body">
                                    <form role="form">
                                        <div class="form-group">
                                            <label for="curName">Name</label>
                                            <input type="text" class="form-control" id="curNameEdit"
                                                   placeholder="Set currency name">
                                        </div>
                                        <div class="form-group">
                                            <label for="curCode">Code</label>
                                            <input type="text" class="form-control" id="curCodeEdit"
                                                   placeholder="Set currency ISO code">
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" id="isDefaultEdit">Default currency?</label>
                                        </div>
                                        <div class="form-group">
                                            <label for="curRate">Currency rate</label>
                                            <input type="text" class="form-control" id="curRateEdit"
                                                   placeholder="Set currency rate">
                                        </div>

                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success saveEditedBtn" id=""
                                        onclick="editCurrency(this)">Save
                                    </button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Discard</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if currencies | length < 2 %}

                        <button type="button" class="btn btn-danger disabled">
                            <span class="glyphicon glyphicon-remove"></span>&nbsp;Delete
                        </button>

                    {% else %}
                        <button type="button" class="btn btn-danger"
                                id="{{ currency.id }}"
                                data-curname="{{ currency.name }}"
                                data-toggle="modal"
                                data-target="#deleteConfirm"
                                onclick="deleteCurConf(this)">
                            <span class="glyphicon glyphicon-remove"></span>&nbsp;Delete
                        </button>


                        <!-- Delete confirmation -->
                        <div id="deleteConfirm" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">
                                            Delete confirmation
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to delete <b><span id="deleteCurName"></span></b> from currency list? </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success deleteBtn" id="" onclick="deleteCurrency(this.id)">
                                            Yes
                                        </button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        $('.modal').draggable({
            handle: ".modal-header"
        });

        function editCurrency(btn) {
            var id = btn.id;
            var editName = $('#curNameEdit').val();
            var editCode = $('#curCodeEdit').val();
            var editRate = $('#curRateEdit').val();
            var editStat = $('#isDefaultEdit').prop('checked');

            var editArray = {
                'id': id,
                'editName': editName,
                'editCode': editCode,
                'editRate': editRate,
                'editStat': editStat
            };

            $.ajax({
                url: "cpanel/updatecurrency",
                method: "POST",
                data: {
                    "updateData": editArray
                },
                success: function (data) {
                    if (data === 'true') {
                        location.reload();
                    } else {
                        alert('During operation an error was ocured');
                    }
                }
            });
        }

        function editModalBtn(btn) {
            var id = btn.id;
            var name = $('#' + id).attr('data-curname');
            var code = $('#' + id).attr('data-curcode');
            var defcur = $('#' + id).attr('data-isdefault');
            var rate = $('#' + id).attr('data-currate');

            $('#curNameEdit').attr('value', name);
            $('#curCodeEdit').attr('value', code);
            $('#curRateEdit').attr('value', rate);
            if (defcur == 1) {
                $('#isDefaultEdit').attr('checked', true);
            }

            $('.saveEditedBtn').attr('id', id);
        }

        function deleteCurConf(btn) {
            var curName = $(btn).data('curname');

            $('#deleteCurName').text(curName);
            $('.deleteBtn').attr('id', btn.id);
        }

        function deleteCurrency(id) {
            $.ajax({
                url: "{{ path('delete_currency') }}",
                method: "POST",
                data: {
                    "id": id
                },
                success: function (data) {
                    if (data === 'true') {
                        location.reload();
                    } else {
                        alert('During operation an error was ocured');
                    }
                }
            })
        }

        $('#addCurrencyError').attr('hidden', true);

        $(document).ready(function () {
            $('[data-tooltip="tooltip"]').tooltip();
        });

        $('#isDefault').click(function () {

            var isChecked = $('#isDefault').prop('checked');
            if (isChecked == true) {
                $('#curRate').prop('disabled', true);
                $('#curRate').val('1');
            } else {
                $('#curRate').prop('disabled', false);
                $('#curRate').val('');
            }
        });

        function addCurrency() {

            var curName = $('#curName').val();
            var curCode = $('#curCode').val();
            var isDefault = $('#isDefault').prop('checked');
            var curRate = $('#curRate').val();
            var data = {
                'curName': curName,
                'curCode': curCode,
                'isDefault': isDefault,
                'curRate': curRate
            };
            $.ajax({
                type: "POST",
                url: "{{ path('add_new_currency') }}",
                data: {
                    "newCurrency": data
                },
                success: function (data) {
                    if (data === 'false') {
                        $('#addCurrencyError').attr('hidden', false);
                    } else {
                        location.reload();
                    }
                }
            });
        }
    </script>
</div>
